<footer>
  <div style="display: flex; flex-direction: column; align-items: center; gap: 24px">
    <ul style="margin: 0; padding: 0; list-style: none; display: flex; gap: 19px">
      <li class="footer-nav-links-list-item">
        <a
          style="
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            aspect-ratio: 1 / 1;
            background-color: #222222;
            border-radius: 50%;
            transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
          "
          href="https://www.facebook.com/drinksetterua/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg style="width: 26px; height: 26px">
            <use href="/icons/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-nav-links-list-item">
        <a
          style="
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            aspect-ratio: 1 / 1;
            background-color: #222222;
            border-radius: 50%;
            transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
          "
          href="https://www.instagram.com/drinksetterua/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg style="width: 19px; height: 19px">
            <use href="/icons/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-nav-links-list-item">
        <a
          style="
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            aspect-ratio: 1 / 1;
            background-color: #222222;
            border-radius: 50%;
            transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
          "
          href="https://drinksetter.bzh.life"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg style="width: 18px; height: 21px">
            <use href="/icons/icons.svg#drink-setter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p style="margin: 0; color: #222222; font-family: Inter; font-size: 12px; font-weight: 400; line-height: 1.25; text-align: center" class="footer-copyright">
      © 2024 Dalmunach. All rights reserved.
    </p>
  </div>
</footer>
