<footer>
  <div>
    <table cellspacing="0" width="100%">
      <tr>
        <td align="center">
          <table cellspacing="0">
            <tr>
              <td>
                <a
                  style="
                    text-decoration: none;
                    display: flex;
                    box-sizing: border-box;
                    width: 48px;
                    height: 48px;
                    padding: 11px;
                    background-color: #222222;
                    border-radius: 50%;
                    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
                  "
                  href="https://www.facebook.com/drinksetterua/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img style="width: 26px; height: 26px" src="/images/facebook.png" alt="" />
                </a>
              </td>
              <td>
                <a
                  style="
                    text-decoration: none;
                    display: flex;
                    box-sizing: border-box;
                    width: 48px;
                    height: 48px;
                    padding: 14px;
                    margin-left: 19px;
                    background-color: #222222;
                    border-radius: 50%;
                    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
                  "
                  href="https://www.instagram.com/drinksetterua/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img style="width: 20px; height: 20px" src="/images/instagram.png" alt="" />
                </a>
              </td>
              <td>
                <a
                  style="
                    text-decoration: none;
                    display: flex;
                    box-sizing: border-box;
                    width: 48px;
                    height: 48px;
                    padding: 13px 15px;
                    margin-left: 19px;
                    background-color: #222222;
                    border-radius: 50%;
                    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
                  "
                  href="https://drinksetter.bzh.life"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img style="width: 18px; height: 22px" src="/images/drink-setter-logo.png" alt="" />
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <p style="margin: 0; margin-top: 24px; color: #222222; font-family: Inter, sans-serif; font-size: 12px; font-weight: 400; line-height: 1.25; text-align: center" class="footer-copyright">
      © 2024 Dalmunach. All rights reserved.
    </p>
  </div>
</footer>
