<header class="header">
  <div style="display: flex; flex-direction: column; align-items: center; padding-top: 40px; padding-bottom: 16px">
    <img style="display: block; max-width: 100%; width: 199px; height: 48px" src="/icons/logo.svg" alt="Логотип" />
    <nav style="display: flex; flex-direction: column; gap: 16px">
      <div style="display: flex; justify-content: center; gap: 14px">
        <a style="text-decoration: none; display: flex; align-items: center; justify-content: center" href="https://drinksetter.bzh.life" target="_blank" rel="noopener noreferrer">
          <img style="display: block; max-width: 100%; width: 54px; height: 17px" src="/icons/drink-setter.svg" alt="" />
        </a>
        <a style="text-decoration: none; display: flex; align-items: center; justify-content: center" href="https://scyfion.com" target="_blank" rel="noopener noreferrer">
          <img style="display: block; max-width: 100%; width: 54px; height: 14px" src="/icons/scyfion.svg" alt="" />
        </a>
      </div>
      <a style="text-decoration: none; display: flex; align-items: center; justify-content: center" href="https://dalmunach.silpo.ua" target="_blank" rel="noopener noreferrer">
        <img style="display: block; max-width: 100%; width: 200px; height: 23px" src="/icons/dalmunach.svg" alt="" />
      </a>
    </nav>
  </div>
</header>
