<header class="header">
  <div style="padding-top: 40px; padding-bottom: 16px">
    <img style="display: block; max-width: 100%; width: 199px; height: 48px; margin-left: auto; margin-right: auto" src="/images/logo.png" alt="Логотип" />
    <nav>
      <table cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table cellspacing="0">
              <tr>
                <td>
                  <a style="text-decoration: none; display: flex; align-items: center; justify-content: center" href="https://drinksetter.bzh.life" target="_blank" rel="noopener noreferrer">
                    <img style="display: block; max-width: 100%; width: 54px; height: 17px" src="/images/drink-setter.png" alt="" />
                  </a>
                </td>
                <td>
                  <a style="text-decoration: none; display: flex; align-items: center; justify-content: center; margin-left: 14px" href="https://scyfion.com" target="_blank" rel="noopener noreferrer">
                    <img style="display: block; max-width: 100%; width: 54px; height: 14px" src="/images/scyfion.png" alt="" />
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <a style="text-decoration: none; display: flex; margin-top: 16px" href="https://dalmunach.silpo.ua" target="_blank" rel="noopener noreferrer">
        <img style="display: block; max-width: 100%; width: 200px; height: 23px; margin-left: auto; margin-right: auto" src="/images/dalmunach.png" alt="" />
      </a>
    </nav>
  </div>
</header>
