<section class="message-section">
  <img style="display: block; width: 100%" class="message-section-banner-img" src="/images/banner.jpg" alt="" />
  <div style="padding: 20px; background-image: url('/images/message-bg.jpg'); background-position: 0 0; background-size: cover">
    <div>
      <p style="margin: 0; color: #222222; font-family: Playfair Display, sans-serif; font-size: 24px; font-weight: 700; line-height: 1.2; text-align: center; text-transform: uppercase">
        Дякуємо за замовлення!
      </p>
      <p
        style="margin: 0; margin-top: 20px; color: #222222; font-family: Sofia Sans, sans-serif; font-size: 16px; font-weight: 400; line-height: 140%; letter-spacing: 0%; text-align: center"
        class="message-section-text"
      >
        Ми отримали вашу заявку та незабаром зв'яжемося з вами для підтвердження деталей. Гарного дня!
      </p>
    </div>
    <img
      style="display: block; max-width: 100%; width: 65px; height: 8px; margin-top: 20px; margin-left: auto; margin-right: auto"
      class="message-section-decorative-line-img"
      src="/images/decorative-line.png"
      alt=""
    />
  </div>
</section>
